{% extends 'base.html.twig' %}

{% block title %}{{ account.name }}{% endblock %}

{% block body %}
    <div class="row comp-transactions">
        <div class="col s12">
            <a class="btn right hide-on-med-and-down"
               href="{{ path('edit_account', {'id': account.id, 'slug': account.slug}) }}"
            >
                <i class="material-icons left">settings</i>Paramètres
            </a>
        </div>
        <div class="col s12">
            <div class="card">
                <div>
                    {{ render(path('list_transactions', {'id': account.id})) }}
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s6">
                            <input id="search" type="text" autocomplete="off">
                            <label for="search"><u>R</u>echercher</label>
                        </div>
                        <div class="col s6 right-align">
                            <a class="btn disabled balance">{{ account.balance|price }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal"
         data-create="{{ path('create_transaction', {'id': account.id}) }}"
         data-edit="{{ path('edit_transaction', {'id': account.id}) }}"
    >
    </div>
{% endblock %}
