<div id="modal-transaction" class="modal bottom-sheet">
    {% if form.vars.value.id %}
        {{ form_start(form, {'attr': {'data-action': path('edit_transaction', {'id': account.id, 'transactionId': form.vars.value.id})}}) }}
    {% else %}
        {{ form_start(form, {'attr': {'data-action': path('create_transaction', {'id': account.id})}}) }}
    {% endif %}
        <div class="container">
            <div class="modal-content">
                <div class="row">
                    <div class="col l5 s12">
                        {{ form_row(form.hash) }}
                    </div>
                    <div class="col l7 s12">
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col l5 s12">
                        {{ form_row(form.amountDisplayable) }}
                    </div>
                    <div class="col l7 s12">
                        {{ form_row(form.transactionAtDisplayable, {'attr': {'class': 'datepicker'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col l2 s12">
                        {{ form_row(form.debit) }}
                    </div>
                    <div class="col l2 s12">
                        {{ form_row(form.checked) }}
                    </div>
                    <div class="col l2 s12">
                        {{ form_row(form.pool) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ form_row(form.save) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>